* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    height: 100vh;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    color: hsl(0, 0%, 50%);
    background-color: hsl(0, 0%, 98%);
}

.wrapper {
    width: 90%;
    max-width: 1350px;
    margin-inline: auto;
    padding-top: 2em;
}

h1 {
    font-size: 1.25rem;
    font-weight: 500;
    color: #4a4a4a;
    text-transform: uppercase;
    margin-bottom: 2em;
}

.name {
    font-size: 1.125rem;
    font-weight: 700;
    color: #404a51;
    margin-bottom: 0.5em;
}

.email,
.address {
    margin-bottom: 0.2em;
}

.address {
    text-transform: capitalize;
}

.grid-container {
    display: block;
    gap: 1em;
}

.card {
    display: flex;
    align-items: center;
    gap: 2em;
    margin-bottom: 1em;
    padding: 2em;
    height: 150px;
    background-color: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    cursor: pointer;
}

.avatar {
    height: 85%;
    border-radius: 50%;
}

.text-container {
    word-break: break-all;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100, 100, 100, 0.4);
}

.hidden {
    display: none;
}

.modal {
    width: min(90%, 375px);
    margin: 15% auto auto;
    position: relative;
    text-align: center;
    background: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    padding: 2em;
}

.modal-avatar {
    width: 135px;
    margin-block: 1.5em;
    border-radius: 50%;
}

.modal-close {
    position: absolute;
    right: 15px;
    top: 5px;
    padding: 0.5em;
    background-color: #fff;
    border: none;
    font-size: 0.875rem;
    cursor: pointer;
}

hr {
    border-top: none;
    border-bottom: 1px solid #e1e1e1;
    margin-block: 2em;
}

@media (min-width: 520px) {
    body {
        font-size: 14px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(425px, 1fr));
        gap: 1.5em;
    }

    .card {
        gap: 2em;
        padding: 2em;
        margin-bottom: 0;
        height: 180px;
    }
}
